@model List<Techno>

<section>
    <div class="justify-content-center">
        <h2 class="text-center p-2"></h2>
        <form asp-controller="Topic" asp-action="SubmitNewTopic" method="post">
            <input type="hidden" name="AuthorId" value="1"/>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon">Question</span>
                <input name="Question" type="text" class="form-control" placeholder="Ecrivez votre question ici ..." aria-describedby="basic-addon">
            </div>
            @*<div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelectTechno">Techno</label>
                <select class="form-select" id="inputGroupSelectTechno">
                    <option selected>Choose...</option>
                    @foreach(Techno tech in Model)
                    {
                    <option name="" value="@tech.Id">@tech.Name</option>
                    }
                </select>
            </div>*@
            <div class="input-group mb-3">
                <span class="input-group-text">Détails de la question</span>
                <textarea name="Body" class="form-control" style="height : 300px" placeholder="Ecrivez des détails (description, contexte, informations complémentaires) qui aideront à la comprehension de votre question ..."></textarea>
            </div>

            @*En attendant la connection avec User*@
            @*<div class="input-group mb-3">
                <span class="input-group-text">AuthorId</span>
                <input name="AuthorId" type="number" class="form-control" placeholder="AuthorId">
            </div>*@

            <div class="justify-content-center m-2">
                <button class="btn btn-success" type="submit">Publier la question</button><span class="text-light">En cliquant sur le boutton "Poster la question", votre question deviendra public</span>
            </div>
        </form>
    </div>
</section>