@model List<Techno>

<section>
    <div>
        @if (Model != null)
        {
            <div>
                @foreach (Techno t in Model)
                {
                    <div>
                        @t.Name
                    </div>
                    <div>
                        @t.Description
                    </div>
                }
            </div>
        }
    </div>
</section>