@model Dictionary<Techno,int>
@inject FormatService _formatService;

<section>
        @if (Model != null)
        {
            <div class="d-flex flex-wrap justify-content-around m-2">
                @foreach (Techno t in Model.Keys)
                {
                    <div class="card m-2 bg-light text-justify" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title mb-0">
                                <a asp-controller="Techno" asp-action="Detail" asp-route-id=@t.Id>
                                    @t.Name
                                </a>
                            </h5>
                            <br />
                            <p class="card-text">
                                <a asp-controller="Techno" asp-action="Detail" asp-route-id=@t.Id>
                                    @_formatService.TextReduction(t.Description)
                                </a>
                            </p>
                            <br />
                            <p class="text-muted">@(Model[t] > 1 ? $"{Model[t]} sujets." : $"{Model[t]} sujet.")</p>
                        </div>
                        </div>
                }
            </div>
        }
</section>
