@{
    ViewData["Title"] = "Home Page";
}

<main class='d-flex justify-content-center  items-center mt-5 min-vh-50'>
    <aside class='text-home little-card m-5'>
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias ipsa dolorum amet reiciendis</h1>
        <p>
            aliquid distinctio culpa et eligendi voluptas cumque? Illo unde fugiat dolorum accusamus eum ratione nemo! Consequuntur, suscipit.
        </p>
        <a asp-action="Index" asp-controller="Signin">
            <button class='btn btn-dark btn-lg m-4'>S'inscrire</button>
        </a>
        <a asp-action="Index" asp-controller="Signin">

            <button class='btn btn-dark btn-lg'>Se connecter</button>
        </a>

    </aside>

    <img src="~/img/laptop-home.png" alt="laptopHome-pic " class='laptopHome-pic m-5' />

</main>
