.navbar{
    height: 70px;
}
.devtalk-logo{
    height: 45px;
    margin: 0 0 5px 0px;
}
.avatar-logo, .user-logo {
    height: 45px;
    margin: 15px 0 0px 0px;
}


.scrolling-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5 ease;
}
.menu-content, .menu {
    list-style: none;
}

.logo-hover:hover~.scrolling-menu{
    overflow: visible;
}
.scrolling-menu:hover{
    overflow: visible;
}
.lien-compte{
    margin-top: -15px;
    text-decoration: none;
}